# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.idb

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
*.sdf
*.opensdf
*.suo

# Directories
TurbulentArena/Debug/
Debug/
build/
lib/
bin/
_ipch/
ipch/

# Other
*.tlog